
RESULTS:
<% if GAME.winner == "Draw" %>
 <h1> it was a draw </h1>
 <% elsif GAME.winner.name == GAME.player1.name %>
 <h1> <%= GAME.winner.name %> won with <%= GAME.winner.pick %> and <%= GAME.looser.name %> lost with <%= GAME.looser.pick %></h1>
<% else %>
 <h1> <%= GAME.winner.name %> won with <%= GAME.winner.pick %> and <%= GAME.looser.name %> lost with <%= GAME.looser.pick %></h1><%end%>
<a href="/">
<% GAME.restart %> Restart</a>
